body {
  margin: auto;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #4EF5C4;
}

::selection {
  color: white;
  background: #4EF5C4;
}

.Menu-Logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-image: url("/Images/LogoHZW.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-top: 50px;
}

.Header {
  height: 776px;
  background: #00AEDB;
  background: -webkit-linear-gradient(270deg, #4EF5C4, #00AEDB);
  background: -o-linear-gradient(270deg, #4EF5C4, #00AEDB);
  background: -moz-linear-gradient(270deg, #4EF5C4, #00AEDB);
  background: linear-gradient(270deg, #4EF5C4, #00AEDB);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  color: white;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
h1 {
  font-size: 120px;
  margin: 0;
  -webkit-animation-delay: .2s;
}

h2 {
  font-size: 35px;
  margin-top: -35px;
  -webkit-animation-delay: .4s;
}

#Back--Thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF2E5;
}

.Projects {
  background-color: #FFF2E5;
}

#Project--Thumbnail {
  width: 100%;
  height: 60%;
}

#Project--Thumbnail:hover {
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition: all 0.2s;
}

.About {
  width: 100%;
  align-items: center;
  text-align: center;
  height: 1100px;
  margin-top: 50px;
}

#Profile {
  opacity: 0;
  width: 400px;
  border-radius: 50%;
  -webkit-animation-delay: .2s;
}

p {
  -webkit-animation-delay: .4s;
  padding-top: 50px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

p#End {
  padding-top: 90px;
  -webkit-animation-delay: .6s;
}

p#End2 {
  -webkit-animation-delay: .6s;
  padding-top: 1px;
  margin-top: -12px;
}

@media screen and (max-width: 800px) {
  .Menu-Logo {
    width: 90px;
    height: 90px;
    margin-left: 30px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 25px;
    margin-top: -27px;
  }

  .Menu-Logo {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 40px;
  }

  #Profile {
    opacity: 0;
    width: 300px;
    border-radius: 50%;
    -webkit-animation-delay: .2s;
  }
}
@media screen and (max-width: 500px) {
  .Header {
    height: 100vh;
  }
}
@media screen and (max-width: 360px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 15px;
    margin-top: -27px;
  }
}
