$font-stack: "Sansation";
$primary-color: #00AEDB;
$secondary-color: #FFFFFF;

#Home{
    background: $primary-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

#Ending{
    position: absolute;
    bottom: 0;
    color: $secondary-color;
    font-family: $font-stack;
    margin-bottom: 10px;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: white;
}

.MainLogo{
    width: 64%;
    height: auto;
   -webkit-animation-delay: .8s;
    user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
    
}

h1{
    text-align: center;
    color: $secondary-color;
    font-family: $font-stack;
    margin-top: 0px;
     -webkit-animation-delay: .9s;
}

h2{
    text-align: right;
    color: $secondary-color;
    font-family: $font-stack;
    font-size: 12px;
    margin-top: -25px;
     -webkit-animation-delay: .9s;
}

#Everything{
    height: 800px;
    margin-top: 50px;
    max-width: 700px;
   
}

#HEAD{
    color: $primary-color;
   font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 20px;
    -webkit-animation-delay: 1.7s;
}

#HEAD3{
    color: $primary-color;
   font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 20px;
    -webkit-animation-delay: 1.9s;
}

#HEAD2{
          color: $primary-color;
   font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 20px;
  -webkit-animation-delay: 2.1s;
}
    
#INFO{
    margin-top: -20px;
    font-family: 'Noto Sans', sans-serif;
    color: Grey;
    font-size: 16px;
    text-align: justify;
    max-width: auto;
    margin-left: 30px;
    -webkit-animation-delay: 1.7s;
}
#INFO2{
    margin-top: -20px;
    font-family: 'Noto Sans', sans-serif;
    color: Grey;
    font-size: 16px;
    text-align: justify;
    max-width: auto;
    margin-left: 30px;
    -webkit-animation-delay: 1.9s;
}

.progress{
 margin-left: 30px;
    font-family: $font-stack;
     -webkit-animation-delay: 2.1s;
}
.progress .sr-only { position: relative; }







