



@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
 #HEAD{
    color: white;
   font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }