$primary-color: #00AEDB;
$secondary-color: #4EF5C4;
$third-color: white;
$font1: 'Dosis', sans-serif;
$font2: 'Open Sans', sans-serif;

body {
  margin: 0;
}

::-moz-selection { /* Code for Firefox */
    color: $third-color;
    background: $secondary-color;
}

::selection {
    color: $third-color;
    background: $secondary-color;
}
.Menu-Logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-image: url("/Images/LogoHZ.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-top: 50px;
  -webkit-animation-delay: .2s;
}

.Header {
  height: 776px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font1;
  color: white;
}

h1 {
  color: $primary-color;
  font-size: 115px;
  margin: 0;
    -webkit-animation-delay: .2s;
}

h2 {
  color: $primary-color;
  font-size: 31px;
  margin-top: -30px;
  font-weight: lighter;
  -webkit-animation-delay: .4s;
  text-align: center;
}

em{
  color: $secondary-color;
  font-style: normal; 
}

#Back--Thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(182, 244, 255);

}

.Projects {
  background: rgb(182, 244, 255);
}

#row-back{
    -webkit-animation-delay: .9s;
}
#Project--Thumbnail {
width: 100%;
height: 60%;
}

#Project--Thumbnail:hover {
  -moz-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  transition: all 0.2s;
}

.About {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#Profile {
  width: 400px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}


p {
    -webkit-animation-delay: .4s;
  padding-top: 50px;
  text-align: center;
  font-family: $font2;
  font-size: 15px;
}


@media screen and (max-width: 800px) {
  .Menu-Logo {
    width: 90px;
    height: 90px;
    margin-left: 30px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  h1{
    font-size: 91px;
  }

  h2 {
    font-size: 20px;
    margin-top: -27px;
  }

  .Menu-Logo {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  .Header{
      height: 100vh;
  }
  #Profile{
    width: 100%;
  }

}

@media screen and (max-width: 360px) {
  h1{
    font-size: 80px;
  }

  h2 {
    font-size: 15px;
    margin-top: -27px;
  }


}

footer{
  font-family: $font2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  background: rgb(182, 244, 255);
}


p#End {
  font-size: 20px;
  margin-top: -35px;
  color: black;
}

p#End2 {
  margin-top: -60px;
    -webkit-animation-delay: .6s;
}

img.Social_logo{
  width: 35px;
  padding-right: 5px;
  padding-left: 5px;
}
