$font-stack: "Sansation";
$primary-color: #00AEDB;
$secondary-color: #FFFFFF;



.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    height: 350px;
    margin-top: 25px;
}

.Port_Logo{
    width: 26%;
    height: auto;
    user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

h1{
    font-family: $font-stack;
    font-size: 3em;
    margin-top: 5px;
    color: $primary-color;
    margin-bottom: -10px;
}

#port_back{
    
    margin-top: 10px;
}

a:link, a:visited, a:active{
    text-decoration: none;
    font-family: $font-stack;
    color: $primary-color;
}


.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.Copyright{
    text-align: center;
    font-family: $font-stack;
}